body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  background: url("loginfbg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #facc15;
  overflow: hidden;
}

.login-container {
  background-color: rgba(30, 20, 10, 0.95);
  border: 2px solid rgba(255, 204, 77, 0.2);
  border-radius: 1rem;
  padding: 3rem 2.5rem;
  max-width: 520px;
  width: 100%;
  box-shadow: 0 0 0 3px rgba(252, 211, 77, 0.05),
    0 12px 30px rgba(0, 0, 0, 0.45);
  text-align: center;
  animation: fadeIn 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #facc15;
}

.subtext {
  font-size: 0.9rem;
  color: #fef9c3;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.2rem;
  text-align: left;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
  color: #fef08a;
}

.form-group input {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #2f1b0e;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  color: #facc15;
}

.form-group input::placeholder {
  color: #facc15;
  opacity: 0.7;
}

.toggle-password {
  position: absolute;
  top: 2.6rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #facc15;
}

.remember {
  font-size: 0.85rem;
  color: #fde68a;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  color: #fde68a;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.captcha-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

canvas {
  border-radius: 8px;
  cursor: pointer;
  background: #1f150b;
}

.error-message {
  color: #f87171;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(to right, #facc15, #fbbf24);
  border: none;
  border-radius: 0.6rem;
  color: #1e1b16;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background: #fbbf24;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

footer {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
  color: #fef9c3;
}
